---
# Default home page with boxes providing collection stats
layout: page
---
<div class="container my-4">
  <div class="row">
    <dic class="col-md-12">
      <div class="mb-4 p-4 border rounded bg-light">
          <h2>Description</h2>
          <p>
            This resource is designed to facilitate the inclusion of Palestinian voices, sources, stories, and themes across a broad range of university courses. It catalogs materials in ways intended for use in teaching while featuring thematic collections and clusters that are easily slotted into classroom teaching on any number of topics. 
          </p>
      </div>
       <div class="mb-4 p-4 border rounded bg-light">
          <h2>Purpose of the Website</h2>
          <p>
            This is a project of imagining and laboring towards a Palestinian Studies shaped in and through collaborative networks of research and pedagogy. Working alongside rather than in place of the crucial task of creating new faculty lines in Palestinian Studies, we aim to organically propagate Palestinian Studies across a range of scholarly fields and levels of expertise through the sharing and curating of pedagogical resources. Our task, in other words, is to develop both a product - an open-access digital resource - and  a novel kind of process that diffuses the labor of Palestinian Studies among scholars with varying levels and kinds of expertise.
            </p>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      {% include index/description.html %}
      {% include index/carousel.html title="Sample Items" %}
    
    </div>
    <div class="col-md-4">  
  
      {% include index/time.html %}
  
      {% include index/featured-terms.html field="subject" title="Top Subjects" btn-color="primary" %}
  
      {% include index/featured-terms.html field="location" title="Locations" btn-color="outline-secondary" %}
      
      {% include index/content.html %}
  
    </div>
  </div>
<div class="row mt-4">
  <div class="col-md-12">

    {% include index/data-download.html %}

    </div>

  </div>
</div>
